/*Remove the 'more' tag from the digests*/
.moretag{
	display: none;
}
/*Remove the 'tweet' buttons */
.twitter-share-button{
	display: none;
}
#twitter .modal-body{
	text-align: center;
}
/*For the "About Joe" page*/
#about img{
	float: left;
	margin-right: 12px;
}
#about p{
	float: right;
}