.footer {
	text-align: center;
}
.project img {
	width:100%;
	opacity:0.7;
	margin-bottom: 40px;
}
.project .description {
	width:100%;
	background-color:#ffffff;
	opacity:0.8;
	margin-top:-110px;
	padding: 2px;
	padding-left: 20px;
	padding-right: 20px;
}
.project .description p {
	opacity: 1;
	font-weight: bold;
	margin-top: -25px;
	width:92%;
}
.project .description h1 {
	opacity: 1;
	font-weight: bolder;
	width:92%;
}
.project .alt {
	text-align: right;
}