<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "net.steinbring.MilwaukeeSoup"
        versionCode = "10" 
        version     = "0.01" >

    <!-- versionCode is optional and Android only -->

    <name>Milwaukee Soup</name>

    <description>
        Do you enjoy a hot bowl of soup on a cold, snowy day?  Of course you do!  Milwaukee Soup provides an easy way of looking up the soup of the day at some of Milwaukee's best restaurants.
    </description>

    <author href="http://steinbring.net" email="joe@steinbring.net">
        Joe Steinbring
    </author>

    <preference name="phonegap-version" value="3.1.0" />
    
    <access origin="http://www.kimonolabs.com" subdomains="true" />
    
    <preference name="permissions" value="none"/>

    <icon src="img/50SoupBowl.png" />

</widget>
