<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "net.steinbring.PocketJoe"
        versionCode = "70" 
        version     = "0.07" >

    <!-- versionCode is optional and Android only -->

    <name>Pocket Joe</name>

    <description>
        A way of reading all about Joe Steinbring from within one application.
    </description>

    <author href="http://steinbring.net" email="joe@steinbring.net">
        Joe Steinbring
    </author>

    <preference name="phonegap-version" value="3.1.0" />
    
    <access origin="http://platform.twitter.com" subdomains="true" />
    <access origin="http://cdn.syndication.twimg.com" subdomains="true" />
    <access origin="http://pbs.twimg.com" subdomains="true" />
    <access origin="http://twitter.com" subdomains="true" />
    <access origin="http://syndication.twitter.com" subdomains="true" />
    <access origin="http://steinbring.net" subdomains="true" />
    
    <preference name="permissions" value="none"/>

    <icon src="img/FlipFace-Joe-Small.png" />

</widget>
